
.hello{
    background-color: aqua;
    display: flex;
    margin-left: 1200px;
    letter-spacing: 5px;
}
.outer-pokedex{
        display: flex;
        flex-direction: column;
        align-items: center;
}
#Pokedex-heading{
    margin: 0 auto;
    letter-spacing: 5px;
}
a:visited{
    color: black;
}
.Registor{
    margin-left: 1200px;
}
.fle{
    display: flexbox;
}
